 <h1>Edit Wiki</h1>
 
 <div class="row">
   <div class="col-md-4">
     <p>Guidelines for wikis</p>
     <ul>
       <li>Make your edits here</li>
       <li>Eventually style this to follow the wireframe</li>
     </ul>
   </div>
   <div class="col-md-8">
     <%= form_for @wiki do |f| %>

       <div class="form-group">
         <%= f.label :title %>
         <%= f.text_field :title, class: 'form-control', placeholder: "Enter wiki title" %>
       </div>
       <div class="form-group">
         <%= f.label :body %>
         <%= f.text_area :body, rows: 8, class: 'form-control', placeholder: "Enter wiki body" %>
         <% if user_signed_in? %>
          <%= render :partial => 'form', :locals => { :f => f } %>
          <% end %>
       </div>
       <div class="form-group">
         <%= f.submit "Save", class: 'btn btn-success' %>
       </div>
   
   <%= f.label :collaborators %>

      <div>
        <%= select_tag "collaborators", options_from_collection_for_select(User.all, 'id', 'name',@wiki.users.map{ |j| j.id }), :multiple => true %>
      </div>

    <% end %>

   </div>


 </div>