<!DOCTYPE html>
<html>
<head>
  <title>Blocipedia</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <!-- if current page is checkout, show the stripe javascript tag -->
  <%= javascript_include_tag 'https://js.stripe.com/v1/', 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
  <%= tag :meta, :name => "stripe-key", :content => ENV["STRIPE_PUBLISHABLE_KEY"]  %>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>

<%= render 'layouts/flashconditional' %>

<div class="container">
  <div class="header clearfix">
    <div class="col-md-3 header-bar"><%= link_to "Blocipedia", root_path %></div>
      <div class="col-md-6 col-md-offset-3 header-bar text-right">
          <% if current_user %>
            <% if current_user.role != "standard" %>
              <span class="label label-warning">Premium</span>
            <% end %>
            <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
            <% else %>
              <%= link_to "Sign in", new_user_session_path %>
            <% end %>
      </div>
        

  </div>

<%= yield %>

</body>
</html>
